body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.controls button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.text-editor textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 16px;
    border: 5px solid #1596ec;
    border-radius: 3px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.option {
    display: flex;
    align-items: center;
    
}

.option label {
    margin-right: 10px;
}

.option select,
.option input[type="color"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border: 1px solid #080808;
}

#preview {
    margin-top: 20px;
}

#preview p {
    font-size: 16px;
}
